<ion-content class="ion-padding" color="light">
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-col size="12">
        <ion-button
          size="small"
          fill="clear"
          (click)="setOpen(true)"
        >
          Agregar trámite
        </ion-button>

        <ion-button
          size="small"
          color="medium"
          id="present-alert"
          fill="clear"
          (click)="checkNetworkStatus()"
        >
          Sicronizar datos
        </ion-button>
        <ion-button  size="small"
            fill="clear" (click)="setOpenFoto(true)">Foto</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <ion-col size="12">
        <ion-list [inset]="true">
          <ion-item *ngFor="let item of todoList">
            <ion-label> Nombre: {{ item.nombre }} </ion-label>
            <ion-label> Descripcion: {{ item.descripcion }} </ion-label>
            <ion-label>
              <ion-button (click)="setData(item)">
                <ion-icon name="pencil-outline"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="deleteItem(item)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-label>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ titleModal }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            [(ngModel)]="tramite.nombre"
            class="ion-margin-bottom"
            labelPlacement="stacked"
            type="text"
            placeholder="Nombre"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            [(ngModel)]="tramite.descripcion"
            class="ion-margin-bottom"
            labelPlacement="stacked"
            type="text"
            placeholder="Descripción"
          ></ion-input>
        </ion-item>

        <br>

        <ion-button
          expand="full"
          fill="solid"
          (click)="emitTramite()"
        >
          {{ titleButton }}
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="isModalOpenFoto">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Evidencia de trámite</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenFoto(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <!-- {{ arrayPhotos | json }}  --------------- {{ todoList | json }} -->
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
              <ion-img [src]="photo.webviewPath"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-fab vertical="bottom" horizontal="center" slot="fixed"  class="ion-margin-bottom">
          <ion-fab-button (click)="addPhotoToGallery()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
